<div class="header">
    <h1>{{title}}</h1>
</div>
<style>
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: rgb(66, 184, 221);
    }
</style>

<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-controls">
        <button type="button" hidden="{{pause}}" on:click="set({ pause: true })" class="button-secondary pure-button">⏸️ Pause</button>
        <button type="button" hidden="{{!pause}}" on:click="set({ pause: false })" class="button-secondary pure-button">▶️ Play</button>
        </div>
    </fieldset>
    
    <fieldset>

        <legend>Song settings</legend>

        <!--div class="pure-control-group">
            <label for="volume">Volume</label>
            <input bind:value='volume' type='range' min='0' max='10'>
        </div-->

        <div class="pure-control-group">
            <label for="interval">Song interval</label>
            <input bind:value="interval" type='range' defaultValue="0.2" min="0.2" max="100" id="interval">
            <input id="interval" type="number" defaultValue="0.2" min="0.2" max="100.2" bind:value="interval">
            <span class="pure-form-message-inline">Minutes between each song</span>
        </div>

        <div class="pure-control-group">
            <label for="directory">Folder name</label>
            <select id="directory" bind:value="directory">
                {{#each folderNameOptions as folderName}}
                    <option value="{{folderName}}">{{folderName}}</option>
                {{/each}}
            </select>
            <span class="pure-form-message-inline">Folder to play MP3s from</span>
        </div>

        <div class="pure-control-group">
            <label for="sort">Sort</label>
            <select id="sort" bind:value="sort">
                <option value="alphabetic">alphabetic (not available yet)</option>
                <option value="random">random</option>
            </select>
        </div>
    </fieldset>

    <fieldset>
        <legend>Environmental settings</legend>
        <div class="pure-control-group">
            <label for="interval">Latitude</label>
            <input id="interval" type="text" bind:value="latitude">
            <span class="pure-form-message-inline">Used to determine daylight cycle times</span>
        </div>

        <div class="pure-control-group">
            <label for="interval">Longitude</label>
            <input id="interval" type="text" bind:value="longitude">
        </div>

        <div class="pure-control-group">
            <label for="cycle">Activity Cycle</label>
            <select id="cycle" bind:value="cycle">
                <option value="diurnal">Run only in daylight (diurnal)</option>
                <option value="nocturnal">Run only at night time (nocturnal)</option>
                <option value="crepuscular">Run only at twilight (crepuscular)</option>
                <option value="cathemeral">Run at all times (cathemeral)</option>
            </select>
        </div>
    </fieldset>

</form>